body{
    background-color:white;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
	display: inline-block;
}

.navbar{
	text-align:center;
	margin:10px;
	overflow:hidden;
}

.form{
	text-align:right;
}

.field{
	padding:5px;
}

.question{
	padding:10px;
	
}


.button{
	width:130px;
	height:35px;
	padding:5px;
	color:white;
	background-color:black;
	
	border:none;
	transition-duration:0.3s;
	cursor: pointer;
}

.button:hover {
	background-color:lightgray;
	color:black;
}

.selection{
	width:500px;
	height:35px;
	padding:5px;
	color:white;
	background-color:gray;
	
	border:none;
	transition-duration:0.3s;
	cursor: pointer;
	
	-webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
	
}

.selection:hover {
	background-color:lightgray;
	color:black;
}
