* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

#center {
	width:100%;
	display: block;
	margin-right:auto;
	margin-left:auto;
	  text-align: center;
}

#menu-bar{

   background-color: #333;

}

#mentext{
	width:100%;
	display:table; margin:0 auto;
}

#menicon{
	 min-height:50px;
}

#menburger{


}



html {
    font-family: "Lucida Sans", sans-serif;
}

.navbar{
	display: flex;
	align-items: center;
	  overflow: hidden;
	background-color: #333;
	position: relative;
}

.navbar a:hover{
	background-color:#B41720;
	color: black;
}

.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navbar a.burger {
transition-duration: 0.5ms;
  background: #333;
  display: relative;
  position: absolute;
  right: 0;
  top: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
    
    display:table; margin:0 auto;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    outline: none;
}

input {
    outline: none;
}

/* Clears, forcing a new row */
.row::after {
    content: "";
    clear: both;
    display: block;
}


.button {
 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {background-color: #B41720;} /* Red */ 

* {
  box-sizing: border-box;
}

.button:hover {
  background-color: #ddd;
  color: black;
}


[class*="col-"] {
  float: left;

}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*Desktop*/

  
	img.hlogo {
	width:165px;
		margin:10px;
		display: block;
		margin-right:auto;
		margin-left:auto;
		
	
	}
	
	img.logo {
		display:none;

	}
	
	#header {
		
		margin:10px;
		display: block;
		margin-right:auto;
		margin-left:auto;
	}
	
	#menburger{
		display:none;
	}
	
	#menicon{
		display:none;
	}




/*Laptop*/
@media (max-width: 1024px) {
	
	.col-l-1 {width: 8.33%;}
	.col-l-2 {width: 16.66%;}
	.col-l-3 {width: 25%;}
	.col-l-4 {width: 33.33%;}
	.col-l-5 {width: 41.66%;}
	.col-l-6 {width: 50%;}
	.col-l-7 {width: 58.33%;}
	.col-l-8 {width: 66.66%;}
	.col-l-9 {width: 75%;}
	.col-l-10 {width: 83.33%;}
	.col-l-11 {width: 91.66%;}
	.col-l-12 {width: 100%;}
	
	img.header {
		width:100%;

	}
  
	img.hlogo {
	
		width:160px;
		margin:10px;
		display: block;
		margin-right:auto;
		margin-left:auto;
		
	}
	
		img.logo {
		display:none;

	}
	
	#menburger{
		display:none;
		
	}
	
	#menicon{
		display:none;
	}
	
	#mentext{
	display:initial;
	}


}

/*Tablet*/  
@media (max-width: 768px) {

	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
  
   #header {
   display:none;
}
	img.hlogo {
		display:none;

	}
  
	img.logo {
	
	
		display: initial;

	}
	
	#mentext{
		
		display:initial;
	}
	
	#menicon{
	width:10%;
		display:initial;
	}

	
	#menburger{
		display:none;
		
	}
	
}

/*Phone*/
@media (max-width: 425px) {

	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
  
	#header {
		
		display:none;
	}
	
	img.hlogo {
		display:none;

	}
  
	img.logo {
		width:30px;
		margin:10px;
		background: #333;
		display: relative;
		position: absolute;

		left: 0;
		top: 0;
		
	}
	
	div.menu {
   
	}
	
	#mentext{
		display:none;
	}
	
	#menicon{
	width:150px;
		display:initial;
	}
	
	#menburger{
		display:initial;
		width:100%;
		
	}
	
	
}


