{% extends 'template.html' %}
{%block title%}{%endblock%}
{%block body%}
    <div class = "navbar">
		<div class = "header"><button class = "button" onClick="window.location.href= 'https://localhost:5000/';">Home</button></div>
		<div class = "header"><button class = "button" onClick="window.location.href= 'https://localhost:5000/menu';">Menu</button></div>
		<div class = "header"><button class = "button" onClick="window.location.href= 'https://localhost:5000/login';">Login</button></div>
		<div class = "header"><button class = "button" onClick="window.location.href= 'https://localhost:5000/register';">Register</button></div>
		<div class = "header"><button class = "button" onClick="window.location.href= 'https://localhost:5000/update_password';">Update Password</button></div>
		<div class = "header"><button class = "button" onClick="window.location.href= 'https://localhost:5000/request_permission';">Request Permission</button></div>
		<div class = "header"><button class = "button" onClick="window.location.href= 'https://localhost:5000/';">Grant Permission</button></div>
		<div class = "header"><button class = "button" onClick="window.location.href= 'https://localhost:5000/create_record';">Create Records</button></div>
		<div class = "header"><button class = "button" onClick="window.location.href= 'https://localhost:5000/logout';">Logout</button></div>

	</div>
{%block content%}{%endblock%}
{%endblock%}
